/* ===========================
   SPECIALS
=========================== */

.specials {
  padding: 5rem 0;
  background-color: var(--highlight-light);
}

.specials .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* ===== HEADER ===== */
.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-header h2 {
  margin: 0;
}

.specials-header button {
  padding: .9rem 1.8rem;
  background-color: var(--primary-yellow);
  color: var(--highlight-dark);
  border: none;
  border-radius: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: .25s ease;
}

.specials-header button:not(:disabled):hover,
.specials-header button:not(:disabled):focus-visible {
  background-color: var(--highlight-dark);
  color: var(--highlight-light);
}

/* NUEVO */
.specials-header button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* ===== HORIZONTAL SCROLL ===== */

.specials-grid {
  display: flex;
  gap: 2rem;
}