/* ===========================
   FOOTER
=========================== */


footer {

  background-color: var(--primary-green);

  padding: 3rem 2rem;

  display:flex;

  justify-content:space-between;

  align-items:flex-start;

  gap:3rem;

  color:var(--highlight-light);

}



footer img {

  height:80px;

  width:auto;

}



footer ul {

  display:flex;

  flex-direction:column;

  gap:.75rem;

  margin:0;

  padding:0;

  list-style:none;

}



footer div {

  display:flex;

  flex-direction:column;

  gap:.75rem;

}



footer p {

  margin:0;

}



footer a {

  color:var(--highlight-light);

  text-decoration:none;

  transition:.3s ease;

}



footer a:hover {

  color:var(--primary-yellow);

}